<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Ashish">
    <title>About-us || Paving +</title>
    <link rel="shortcut icon" href="images/favicon.png" />
    <meta name="title" content=" Paving+ || Building Green Construction Solutions">
    <meta name="description"
        content="Paving+ uses eco-friendly and sustainable technology to create damp-proof and lightweight bricks and paver blocks. Paving + products are entirely composed of recycled plastic trash and industrial waste.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://paving-plus.com/">
    <meta property="og:title" content=" Paving+ || Building Green Construction Solutions">
    <meta property="og:description"
        content="Paving+ uses eco-friendly and sustainable technology to create damp-proof and lightweight bricks and paver blocks. Paving + products are entirely composed of recycled plastic trash and industrial waste.">
    <meta property="og:image" content="./assets/images/meta.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://paving-plus.com/">
    <meta property="twitter:title" content=" Paving+ || Building Green Construction Solutions">
    <meta property="twitter:description"
        content="Paving+ uses eco-friendly and sustainable technology to create damp-proof and lightweight bricks and paver blocks. Paving + products are entirely composed of recycled plastic trash and industrial waste.">
    <meta property="twitter:image" content="./assets/images/meta.png">

    <!-- The styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/animate.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="css/venobox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/styles.css" />

<body>

    <div id="preloader" style="display: flex; align-items: center; justify-content: center; height: 100vh;"">
        <span><img  style="width: 27%;" src="images/loader.gif" alt="" /></span>
    </div>


    <!--  HEADER -->
    <header class="main-header clearfix">


        <section class="header-wrapper navgiation-wrapper">
            <div class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo" href="/"><img alt="" src="images/logo.png"></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li><a href="/about-us" title="About Us">About Us</a></li>
                            <li>
                                <a href="/products">Products</a>
                            </li>
                            <li>
                                <a href="/brochure">Brochure</a>
                            </li>
                            <li><a href="/contact-us">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </header> <!-- end main-header  -->

    <!--  PAGE HEADING -->

    <section class="page-header">

        <div class="container">

            <div class="row">

                <div class="col-sm-12 text-center">

                    <h3>
                        About Us
                    </h3>

                    <p class="page-breadcrumb">
                        <a href="/">Home</a> / About Us
                    </p>


                </div>

            </div> <!-- end .row  -->

        </div> <!-- end .container  -->

    </section> <!-- end .page-header  -->

    <!--  SECTION MISSION   -->


    <section class="section-content-block2 section-custom-bg" data-bg_img='images/highlight_bg.jpg'
        data-bg_size='initial' data-bg_position='top left' data-bg_color="#FFFFFF" data-bg_opacity="0.8"
        style="padding-bottom: 20px !important;">

        <div class="container">

            <div class="row section-heading-wrapper">

                <div class="col-md-12 col-sm-12 text-center no-img-separator">
                    <h2>All About Paving+</h2>
                    <span class="heading-separator heading-separator-horizontal"></span>
                    <h4>Paving+ is a company that is dedicated to finding innovative solutions for the construction
                        industry to make it more environmentally friendly. Since its founding in 2018, the company has
                        been researching and developing new technologies and techniques that can reduce the impact of
                        construction on the environment.<br /><br />

                        One of the main areas of focus for Paving+ is the development of sustainable paving materials.
                        These materials are designed to be more durable and long-lasting than traditional asphalt and
                        concrete, while also being more environmentally friendly. Paving+ has also been working on ways
                        to recycle and reuse materials from construction sites, in order to reduce the amount of waste
                        that is generated during the building process.<br /><br />

                        In addition to its research and development efforts, Paving+ also works closely with contractors
                        and other industry professionals to educate them on the benefits of using sustainable materials
                        and practices. Through its efforts, the company hopes to make a significant impact on the
                        construction industry and help it become more sustainable and eco-friendly.</h4>

                </div> <!-- end .col-sm-10  -->
            </div>
        </div> <!--  end .container  -->

    </section>



    <!-- CLIENT LOGO SECTION  -->

    <section class="section-content-block">

        <div class="container wow fadeInUp">

            <div class="row section-heading-wrapper">

                <div class="col-md-12 col-sm-12 text-center no-img-separator">
                    <h2>In association with</h2>
                    <span class="heading-separator heading-separator-horizontal"></span>
                    <!-- <h4>The association who give their valuable amount to fulfill our mission.</h4> -->
                </div> <!-- end .col-sm-10  -->

            </div> <!-- end .row  -->


            <div class="row">

                <div class="logo-layout-1 logo-items owl-carousel" data-nav="true" data-dots="false">

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                        <div class="client-logo">

                            <img src="images/logo_1.png" alt="" />

                        </div>

                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                        <div class="client-logo">

                            <img src="images/logo_2.png" alt="" />

                        </div>

                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                        <div class="client-logo">

                            <img src="images/logo_3.png" alt="" />

                        </div>

                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                        <div class="client-logo">

                            <img src="images/logo_4.png" alt="" />

                        </div>

                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                        <div class="client-logo">

                            <img src="images/logo_5.png" alt="" />

                        </div>

                    </div>



                </div> <!-- end .logo-items  -->

            </div> <!-- end row  -->

        </div> <!-- end .container  -->

    </section> <!--  end .section-client-logo -->



    <!--  ABOUT US SECTION  -->

    <section class="section-content-block3 section-custom-bg" data-bg_img='images/highlight_bg.jpg'
        data-bg_size='initial' data-bg_position='top left' data-bg_color="#FFFFFF" data-bg_opacity="0.8"
        style="padding: 53px 0 39px 0 !important;">

        <div class="container">

            <div class="row section-heading-wrapper">

                <div class="col-md-12 col-sm-12 text-center no-img-separator">
                    <h2>Paving+ Core Values </h2>
                    <span class="heading-separator heading-separator-horizontal"></span>
                    <!-- <h4>Pellentesque habitant morbi tristique senectus netus <br /> et malesa dalas fames acturpi solid
                        egestas ac turpis egestas dsexo.</h4> -->

                </div> <!-- end .col-sm-10  -->

            </div>

            <div class="row">

                <div class=" text-center " style="display: flex; justify-content: space-around; ">

                    <div class="col">
                        <img src="images/1.png" alt="">
                    </div>
                    <div class="col">
                        <img src="images/2.png" alt="">
                    </div>
                    <div class="col">
                        <img src="images/3.png" alt="">
                    </div>
                    <div class="col">
                        <img src="images/4.png" alt="">
                    </div>

                </div>

            </div>

        </div> <!--  end .container  -->

    </section>

    <!--  FEATURED ABOUT US SECTION-->
    <section class="section-content-block3 section-custom-bg" data-bg_img='images/highlight_bg.jpg'
        data-bg_size='initial' data-bg_position='top left' data-bg_color="#FFFFFF" data-bg_opacity="0.8"
        style="padding: 53px 0 39px 0 !important;">

        <div class="container">

            <div class="row section-heading-wrapper">

                <div class="col-md-12 col-sm-12 text-center no-img-separator">
                    <h2>How we work ? </h2>
                    <span class="heading-separator heading-separator-horizontal"></span>
                </div> <!-- end .col-sm-10  -->

            </div>

            <div style="
        display: flex;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;">
                <img src="images/5.jpg" width="80%" alt="">
            </div>
        </div> <!--  end .container  -->

    </section>
    <!--  end .section-about-us -->

    <!--   COUNTER SECTION -->
    <section class="section-content-block section-secondary-bg" style="padding: 34px 0 0px 0;">
        <div class="container wow fadeInUp">
            <div class="row" style="    display: flex;
            justify-content: center;">
                <div class="col-sm-12">
                    <div class="row section-heading-wrapper">

                        <div class="col-md-12 col-sm-12 text-left no-img-separator" style="    display: flex;
                        flex-direction: column;
                        align-items: center;">
                            <h2 style="padding-bottom: 20px; font-size: 20px; color: black;">Waste plastic upcycled and
                                recycled: <i style="color: #33B44A; ">
                                    <%=counter.value %>Kg
                                </i></h2>
                            <span class="heading-separator heading-separator-horizontal"></span>
                        </div> <!-- end .col-sm-10  -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-content-block section-secondary-bg" style="padding: 0px 0 0px 0;">
        <div class="container wow fadeInUp">
            <div class="row" style="    display: flex;
            justify-content: center;">
                <div class="col-sm-12">
                    <div class="row section-heading-wrapper">

                        <div class="col-md-12 col-sm-12 text-left no-img-separator" style="    display: flex;
                        flex-direction: column;
                        align-items: center;">
                            <h2 style="padding-bottom: 20px;">Achievements</h2>
                            <span class="heading-separator heading-separator-horizontal"></span>
                        </div> <!-- end .col-sm-10  -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-content-block section-secondary-bg" style="padding: 0px 0 34px 0;">
        <div class="container wow fadeInUp">
            <div class="row" style="display: flex; justify-content: center;">
                <div class="row margin-top-24">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counter-block-2 counter-border">
                            <i class="icon fa fa-sun-o text-primary-color"></i>
                            <div class="count-info">
                                <p class="text-capitalize" style="font-size: 17px; font-weight: 600; font-weight: 600;">
                                    Winner Naveen Soch ki Khoj Award 2023 at Sanmarg Business Awards
                                    1 Granted Patent
                                </p>
                            </div>
                        </div>
                    </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counter-block-2 counter-border">
                            <i class="icon fa fa-diamond text-primary-color"></i>
                            <div class="count-info">
                                <p class="text-capitalize" style="font-size: 17px; font-weight: 600;">Runners up at
                                    TIECON kolkata 2020</p>
                            </div>
                        </div>
                    </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counter-block-2 counter-border">
                            <i class="icon fa fa-book text-primary-color"></i>
                            <div class="count-info">
                                <p class="text-capitalize" style="font-size: 17px; font-weight: 600;">
                                    12 Research Paper In different International Journal
                                </p>
                            </div>
                        </div>
                    </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
                </div>
            </div>
            <div class="row" style="display: flex; justify-content: center;">
                <div class="row margin-top-24">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counter-block-2 counter-border">
                            <i class="icon fa fa-university text-primary-color"></i>
                            <div class="count-info">
                                <p class="text-capitalize" style="font-size: 17px; font-weight: 600;">WINNER at
                                    Entrepreneurship World Cup India 2019</p>
                            </div>
                        </div>
                    </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counter-block-2 counter-border">
                            <i class="icon fa fa-flag text-primary-color"></i>
                            <div class="count-info">
                                <p class="text-capitalize" style="font-size: 17px; font-weight: 600;">Winner of AAVISKAR
                                    2.0(The tech-Fest-NIT Durgapur) National Institute of Technology Durgapur, Nov 2018
                                </p>
                            </div>
                        </div>
                    </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counter-block-2 counter-border">
                            <i class="icon fa fa-file-powerpoint-o text-primary-color"></i>
                            <div class="count-info">
                                <p class="text-capitalize" style="font-size: 17px; font-weight: 600;">
                                    Winner Of B-Plan Event Heritage Institute of Technology ,Kolkata Oct 2018</p>
                            </div>
                        </div>
                    </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
                </div>
            </div>
            <div class="row" style="display: flex; justify-content: center;">
                <div class="row margin-top-24">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counter-block-2 counter-border">
                            <i class="icon fa fa-shield text-primary-color"></i>
                            <div class="count-info">
                                <p class="text-capitalize" style="font-size: 17px; font-weight: 600;">Winner of TATA
                                    Social Enterprise Challenge Apr 2017</p>
                            </div>
                        </div>
                    </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counter-block-2 counter-border">
                            <i class="icon fa fa-graduation-cap text-primary-color"></i>
                            <div class="count-info">
                                <p class="text-capitalize" style="font-size: 17px; font-weight: 600;">HULT PRIZE 2019
                                    South East Asia Regional Finalist</p>
                            </div>
                        </div>
                    </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counter-block-2 counter-border" style="display: flex; align-items: center;">
                            <i class="icon fa fa-sitemap text-primary-color"></i>
                            <div class="count-info">
                                <p class="text-capitalize" style="font-size: 17px; font-weight: 600;">
                                    1 Granted Patent</p>
                            </div>
                        </div>
                    </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
                </div>
            </div>
        </div>
    </section>


    <!-- SECTION TEAM   -->

    <section class="section-content-block4 section-custom-bg" data-bg_img='images/team_feat_bg.jpg' data-bg_size='cover'
        data-bg_position='top center' data-bg_opacity="0" style="padding: 100px 0 0px 0 !important;">

        <div class="container">
            <div class="row section-heading-wrapper" style="margin-bottom: 1px;">

                <div class="col-md-12 col-sm-12 text-center no-img-separator">
                    <h2>THE TEAM</h2>
                    <span class="heading-separator heading-separator-horizontal"></span>
                    <!-- <h2>Dedicated Team Members give their <br />efforts to fulfill our mission.</h2> -->
                </div> <!-- end .col-sm-10  -->

            </div>
        </div>

        <div class="container margin-top-48 wow fadeInLeft">

            <div class="row">

                <div class="col-md-3 col-sm-12">
                </div> <!--  end .col-md-4 col-sm-12  -->
                <div class="col-md-3 col-sm-12">

                    <div class="team-layout-1 theme-custom-box-shadow theme-custom-box-animation">

                        <figure class="team-member">
                            <a href="#" title="MELISSA MUNOZ">
                                <img src="images/team_6.png" alt="MELISSA MUNOZ" />
                            </a>

                        </figure> <!-- end. team-member  -->

                        <article class="team-info">
                            <h3 style="font-size: 16px;">Ranjan Kumar Gupta</h3>
                            <h4 style="font-size: 12px;">CEO & Founder</h4>

                        </article>

                        <div class="team-content">

                            <div class="team-social-share text-center clearfix">
                                <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a>
                                <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a>
                            </div> <!-- end .author-social-box  -->

                        </div>

                    </div> <!--  end team layout-1 -->

                </div> <!--  end .col-md-4 col-sm-12  -->
                <div class="col-md-3 col-sm-12">

                    <div class="team-layout-1 theme-custom-box-shadow theme-custom-box-animation">

                        <figure class="team-member">
                            <a href="#" title="MELISSA MUNOZ">
                                <img src="images/team_7.png" alt="MELISSA MUNOZ" />
                            </a>

                        </figure> <!-- end. team-member  -->

                        <article class="team-info">
                            <h3 style="font-size: 16px;">Sheikh Ziaur Rahman</h3>
                            <h4 style="font-size: 12px;">CBO & Co-founder</h4>

                        </article>

                        <div class="team-content">

                            <div class="team-social-share text-center clearfix">
                                <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a>
                                <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a>
                            </div> <!-- end .author-social-box  -->

                        </div>

                    </div> <!--  end team layout-1 -->

                </div> <!--  end .col-md-4 col-sm-12  -->
                <div class="col-md-3 col-sm-12">



                </div> <!--  end .col-md-4 col-sm-12  -->

            </div> <!-- end .row  -->

        </div> <!-- end .container  -->

    </section>

    <!-- SECTION TEAM   -->
    <section class="section-content-block6 section-custom-bg" data-bg_img='images/team_feat_bg.jpg' data-bg_size='cover'
        data-bg_position='top center' data-bg_opacity="0">


        <div class="container margin-top-48 wow fadeInLeft ">

            <div class="row  team-row-test"  >
                <div class="col-md-3 col-sm-12">

                    <div class="team-layout-1 theme-custom-box-shadow theme-custom-box-animation">

                        <figure class="team-member">
                            <a href="#" title="MELISSA MUNOZ">
                                <img src="images/team_8.png" alt="MELISSA MUNOZ" />
                            </a>

                        </figure> <!-- end. team-member  -->

                        <article class="team-info">
                            <h3 style="font-size: 16px;">Junaid Ashraf</h3>
                            <h4 style="font-size: 12px;">Head of Operations</h4>
                        </article>

                        <div class="team-content">

                            <div class="team-social-share text-center clearfix">
                                <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a>
                                <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a>
                            </div> <!-- end .author-social-box  -->

                        </div>

                    </div> <!--  end team layout-1 -->

                </div> <!--  end .col-md-4 col-sm-12  -->
                <div class="col-md-3 col-sm-12">
                    <div class="team-layout-1 theme-custom-box-shadow theme-custom-box-animation">
                        <figure class="team-member">
                            <a href="#" title="MELISSA MUNOZ">
                                <img src="images/team_12.png" alt="" />
                            </a>
                        </figure> <!-- end. team-member  -->

                        <article class="team-info">
                            <h3 style="font-size: 15px;">Daries Ali Khan</h3>
                            <h4 style="font-size: 12px; line-height: 16px;">Business Development Executive</h4>
                        </article>

                        <div class="team-content">
                            <div class="team-social-share text-center clearfix">
                                <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a>
                                <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a>
                            </div> <!-- end .author-social-box  -->
                        </div>
                    </div> <!--  end team layout-1 -->
                </div> <!--  end .col-md-4 col-sm-12  -->
                <div class="col-md-3 col-sm-12">

                    <div class="team-layout-1 theme-custom-box-shadow theme-custom-box-animation">
                        <figure class="team-member">
                            <a href="#" title="MELISSA MUNOZ">
                                <img src="images/team_10.png" alt="" />
                            </a>
                        </figure> <!-- end. team-member  -->

                        <article class="team-info">
                            <h3 style="font-size: 15px;">Nahid Parveen </h3>
                            <h4 style="font-size: 12px; line-height: 16px;">Strategy and communications <br/><br/></h4>
                        </article>

                        <div class="team-content">
                            <div class="team-social-share text-center clearfix">
                                <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a>
                                <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a>
                            </div> <!-- end .author-social-box  -->
                        </div>
                    </div> <!--  end team layout-1 -->

                </div>
                
            </div> <!-- end .row  -->

        </div> <!-- end .container  -->

    </section>

     <!-- SECTION TEAM   -->

     <section class="section-content-block6 section-custom-bg" data-bg_img='images/team_feat_bg.jpg' data-bg_size='cover'
     data-bg_position='top center' data-bg_opacity="0">

     <div class="container">
        <div class="row section-heading-wrapper" style="margin-bottom: 1px;">

            <div class="col-md-12 col-sm-12 text-center no-img-separator">
                <h2>OUR ADVISORS</h2>
                <span class="heading-separator heading-separator-horizontal"></span>
                <!-- <h2>Dedicated Team Members give their <br />efforts to fulfill our mission.</h2> -->
            </div> <!-- end .col-sm-10  -->

        </div>
    </div>
     <div class="container margin-top-48 wow fadeInLeft">

         <div class="row team-row-test" >
             <div class="col-md-3 col-sm-12">

                 <div class="team-layout-1 theme-custom-box-shadow theme-custom-box-animation">

                     <figure class="team-member">
                         <a href="#" title="MELISSA MUNOZ">
                             <img src="images/team_11.png" alt="MELISSA MUNOZ" />
                         </a>

                     </figure> <!-- end. team-member  -->

                     <article class="team-info">
                         <h3 style="font-size: 16px;">Ajay Chowdhary  </h3>
                         <h4 style="font-size: 12px; line-height: 16px;">MD , Manafuli Group
                            Mentor , Advisor and Angel Investor<br/> <br/></h4>
                     </article>

                     <div class="team-content">

                         <div class="team-social-share text-center clearfix">
                             <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a>
                             <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a>
                         </div> <!-- end .author-social-box  -->

                     </div>

                 </div> <!--  end team layout-1 -->

             </div> <!--  end .col-md-4 col-sm-12  -->

             <div class="col-md-3 col-sm-12">

                <div class="team-layout-1 theme-custom-box-shadow theme-custom-box-animation">

                    <figure class="team-member">
                        <a href="#" title="MELISSA MUNOZ">
                            <img src="images/team_13.png" alt="MELISSA MUNOZ" />
                        </a>

                    </figure> <!-- end. team-member  -->

                    <article class="team-info">
                        <h3 style="font-size: 16px;">Aaquib Hussain </h3>
                        <h4 style="font-size: 12px; line-height: 16px; ">Founder - Freeflow Venture Buliders<br/> <br/></h4>
                    </article>

                    <div class="team-content">

                        <div class="team-social-share text-center clearfix">
                            <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a>
                            <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a>
                        </div> <!-- end .author-social-box  -->

                    </div>

                </div> <!--  end team layout-1 -->

            </div> <!--  end .col-md-4 col-sm-12  -->

            <div class="col-md-3 col-sm-12">

                <div class="team-layout-1 theme-custom-box-shadow theme-custom-box-animation">

                    <figure class="team-member">
                        <a href="#" title="MELISSA MUNOZ">
                            <img src="images/team_14.png" alt="MELISSA MUNOZ" />
                        </a>

                    </figure> <!-- end. team-member  -->

                    <article class="team-info">
                        <h3 style="font-size: 16px;">Suraj Juneja </h3>
                        <h4 style="font-size: 12px; line-height: 16px; ">INVESTOR - HORSES STABLE - FOUNDER - FREEFLOW VENTURE BUILDERS</h4>
                    </article>

                    <div class="team-content">

                        <div class="team-social-share text-center clearfix">
                            <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a>
                            <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a>
                        </div> <!-- end .author-social-box  -->

                    </div>

                </div> <!--  end team layout-1 -->

            </div> <!--  end .col-md-4 col-sm-12  -->

         </div> <!-- end .row  -->

     </div> <!-- end .container  -->

    </section>
    <!-- SECTION CTA  -->
    <!-- 
    <section class="cta-section-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>We have been helping people since 40 years</h2>
                    <p>
                        You can give politics at any of our environment venues all over the world. We have total sixty
                        thousands volunteers centers and visit thousands of other venues on various occasions.
                    </p>
                    <a class="btn btn-theme btn-theme-invert margin-top-12" href="#">BECOME VOLUNTEER</a>
                </div> 
            </div>
        </div>
    </section> -->

    <!-- START FOOTER  -->
     <!-- START FOOTER  -->
     <footer>
        <section class="section-content-block4 footer-widget-area-bg section-custom-bg"
            data-bg_img="images/footer_bg.jpg" data-bg_opacity="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-widget-area footer-about">
                            <div class="row">
                                <div class="footer-widget-area">
                                    <div class="col-md-4">
                                        <div class="footer-logo">
                                            <img src="images/logo-footer.png" alt="Logo">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="contact-info footer-content">
                                            <p class="text-light-color">“We want to solve the problem of plastic
                                                waste<br />
                                                and use waste to produce quality products <br />to create a sustainable
                                                and greener earth."
                                            </p>
                                        </div>
                                    </div>
                                </div> <!-- end .footer-widget-area  -->
                            </div> <!--  end .row  -->
                        </div>
                    </div>
                </div>

                <!-- FOOTER WIDGET AREA -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="footer-widget-area">
                            <h3>Organaization Info</h3>
                            <div class="contact-info divider-line">
                                <div class="contact-heading">Address : </div>
                                <div class="contact-details">
                                    36F Topsia Road , Offbeat CCU , Landmark Building , Room no. 402 , kolkata -700039
                                </div>
                            </div>
                            <div class="contact-info divider-line">
                                <div class="contact-heading">Phone : </div>
                                <div class="contact-details">
                                    +91 88252 17361, +91 93396 93397
                                </div>
                            </div>

                            <div class="contact-info">
                                <div class="contact-heading">Email : </div>
                                <div class="contact-details color-primary">
                                    <a href="mailto:team@paving-plus.com">team@paving-plus.com</a>
                                </div>
                            </div>
                        </div> <!-- end .footer-widget-area  -->
                    </div> <!-- end .col-md-4  -->


                </div> <!-- end .row  -->
            </div> <!-- end .container  -->
        </section> <!--  end .footer-widget-area-bg -->

        <!--FOOTER NAVIGATION  -->

        <section class="footer-section">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-12">
                        <div class="footer-nav">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="/terms-condition">Terms & Condition</a>
                                    </li>
                                    <li>
                                        <a href="/privacy-policy">Privacy Policy</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div> <!-- end .col-md-6  -->

                    <div class="col-md-6 col-sm-12">
                        <span class="copyright-text">
                            Copyright &copy; <a class="color-primary" href="https://paving-plus.com/"> Paving +</a>
                            2023. All right Reserved.
                        </span>
                    </div> <!-- end .col-md-6  -->
                </div> <!-- end .row  -->
            </div> <!-- end .container  -->
        </section> <!--  end .footer-area -->
    </footer>

    <!--  END OF FOOTER -->



    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.backTop.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/waypoints-sticky.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/venobox.min.js"></script>
    <script src="js/custom-scripts.js"></script>
</body>

</html>