<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Ashish">
    <title>Paving+ || Building Green Construction Solutions</title>
    <link rel="shortcut icon" href="images/favicon.png" />
    <meta name="title" content=" Paving+ || Building Green Construction Solutions">
    <meta name="description"
        content="Paving+ uses eco-friendly and sustainable technology to create damp-proof and lightweight bricks and paver blocks. Paving + products are entirely composed of recycled plastic trash and industrial waste.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://paving-plus.com/">
    <meta property="og:title" content=" Paving+ || Building Green Construction Solutions">
    <meta property="og:description"
        content="Paving+ uses eco-friendly and sustainable technology to create damp-proof and lightweight bricks and paver blocks. Paving + products are entirely composed of recycled plastic trash and industrial waste.">
    <meta property="og:image" content="./assets/images/meta.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://paving-plus.com/">
    <meta property="twitter:title" content=" Paving+ || Building Green Construction Solutions">
    <meta property="twitter:description"
        content="Paving+ uses eco-friendly and sustainable technology to create damp-proof and lightweight bricks and paver blocks. Paving + products are entirely composed of recycled plastic trash and industrial waste.">
    <meta property="twitter:image" content="./assets/images/meta.png">

    <!-- The styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" /> 
    <link href="css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <link href="css/utility-classes.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/animate.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="css/venobox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/styles.css" />

<body>
    <!-- 
    <div id="preloader">
        <span class="margin-bottom"><img src="images/loader.gif" alt="" /></span>
    </div> -->



    <!--  HEADER -->
    <header class="main-header clearfix">
        <section class="header-wrapper navgiation-wrapper">
            <div class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo" href="/"><img alt="" src="images/logo.png"></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li><a href="/about-us" title="About Us">About Us</a></li>
                            <li>
                                <a href="/products">Products</a>
                            </li>

                            <li>
                                <a href="/brochure">Brochure</a>
                            </li>
                            <li><a href="/contact-us">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </header> <!-- end main-header  -->

    <!--  HOME SLIDER BLOCK  -->
    <div class="slider-wrap">
        <div id="slider_1" class="owl-carousel" data-nav="false" data-dots="true" data-autoplay="true"
            data-autoplaytimeout="50000">
            <div class="slider_item_container"
                data-bg_img="https://norwegianscitechnews.com/wp-content/uploads/2022/05/trash1.jpg"
                data-bg_color="#111111" data-bg_opacity="0.25">
                <div class="item">
                    <div class="slider-content">
                        <div class="container text-center">
                            <div class="row">
                                <div class="slider-bg" data-animation-in="zoomInUp" data-animation-out="zoomInDown">
                                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1s">

                                        <!-- <h3>Stop Burning Natural Fuel</h3> -->
                                        <h2 class="text-medium" >
                                            BUILDING GREEN SOLUTION
                                            <br>
                                            USING UNSEGREGATED<br> WASTE PLASTIC
                                        </h2>
                                        <a href="/about-us" class="btn btn-theme btn-theme margin-top-24"
                                            style="background: #64a71c;">KNOW MORE</a>
                                        <a href="/products" class="btn btn-theme btn-theme-invert margin-top-24" style="color: #ffffff;
                                        background-color: #337ab7;">OUR PRODUCTS</a>
                                    </div>
                                </div> <!-- end .col-sm-12  -->
                            </div> <!-- end .row  -->
                        </div><!-- end .container -->
                    </div> <!--  end .slider-content -->
                </div> <!-- end .item  -->
            </div> <!-- end .slider_item_container  -->

            <!-- <div class="slider_item_container" data-bg_img="images/home_1_slider_1.png" data-bg_color="#111111"
                data-bg_opacity="0.35">
                <div class="item">
                    <div class="slider-content">
                        <div class="container text-left">
                            <div class="row">
                                <div class="slider-bg" data-animation-in="fadeInUp" data-animation-out="zoomInUp">
                                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1s">

                                        <h3>Protect Our Natural Beauties</h3>
                                        <h2 class="text-medium">
                                            PLANT TREES TO <br>SAVE BIRDS RESIDENCE

                                        </h2>
                                        <a href="#" class="btn btn-theme btn-theme margin-top-24">JOIN WITH US</a>
                                        <a href="#" class="btn btn-theme btn-theme-invert margin-top-24">MAKE
                                            DONATION</a>
                                    </div>
                                </div> 
                            </div> 
                        </div>
                    </div> 
                </div>
            </div>  -->

            <!-- <div class="slider_item_container" data-bg_img="images/home_1_slider_3.png" data-bg_color="#111111"
                data-bg_opacity="0.25">
                <div class="item">
                    <div class="slider-content">
                        <div class="container text-left">
                            <div class="row">
                                <div class="slider-bg" data-animation-in="fadeInRightBig"
                                    data-animation-out="zoomInDown">
                                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1s">

                                        <h3>Keep Your Around Clean</h3>
                                        <h2 class="text-medium">
                                            HELP US RECYCLE
                                            <br>
                                            DUMPS TO SAVE WORLD
                                        </h2>
                                        <a href="#" class="btn btn-theme btn-theme margin-top-24">JOIN WITH US</a>
                                        <a href="#" class="btn btn-theme btn-theme-invert margin-top-24">MAKE
                                            DONATION</a>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>


    <!--  ABOUT US SECTION  -->
    <section class="section-content-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="row section-heading-wrapper">
                        <div class="col-md-12 col-sm-12 text-left no-img-separator">
                            <h2>What We Do ?</h2>
                            <span class="heading-separator heading-separator-horizontal"></span>
                            <!-- <h2>Green World For <br />Our Future Generation</h2> -->
                        </div> <!-- end .col-sm-10  -->
                    </div>
                    <div class="about-details">
                        <ul class="custom-bullet-list custom-icon">
                            <li style="line-height: 30px;">We manufacture sustainable building materials, such as paver blocks, tiles, and bricks, which presents a viable solution to address the issue of plastic and demolition waste in India. </li>
                            <li>We possess the capability to fabricate lightweight and economical offerings that effectively mitigate waste levels.</li>
                            <li>Our organization leverages our patented proprietary technology to upcycle and recycle a range of materials, including plastic bags and packaging, thus contributing to a more sustainable future.</li>
                            <li>Our unwavering commitment to environmental sustainability positions us as a forefront player in the realm of ecologically responsible building materials.</li>
                        </ul>
                    </div> <!--  end .about-details -->
                </div> <!--  end col-lg-6  -->

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <video  controls loop muted autoplay="true" class="video5">
                        <source src="images/video.mp4" type="video/mp4">
                    </video>
                    <figure class="about-img theme-custom-box-shadow">
                        
                        <!-- <a class="venobox wow bounceIn" data-vbtype="video" data-autoplay="true"
                            href="https://youtu.be/Eg_dXjo7Bgc"><i class="fa fa-play"></i></a>
                        <img src="images/achievements.png" alt="about" /> -->
                    </figure> <!-- end .cause-img  -->
                </div> <!--  end .col-lg-6 col-md-6 col-sm-12 col-xs-12  -->

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-xs hidden">
                    <figure class="theme-custom-box-shadow">
                        <img src="images/achievements.png" alt="achievements" class="db" />
                    </figure>
                </div> <!--  end .col-lg-6 -->
            </div> <!--  end .row  -->
        </div> <!--  end .container -->
    </section> <!--  end .appointment-section  -->

    <!--  FEATURED ABOUT US SECTION-->
    <section class="section-feat-about-us section-custom-bg" data-bg_img="images/about_us_info_bg.jpg"
        data-bg_color="#264676" data-bg_opacity="0.3">
        <div class="side-background">
            <div class="col-md-6 feat-img-side-bg visible-lg">
                <div class="row">
                    <img src="images/about_feat_bg_2.png" alt="">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-lg-offset-6 about-us-info-block">
                    <div class="row">
                        <div class="about-us-info text-left wow fadeInLeft">
                            <h5 class="about-us-slogan about-us-slogan-bold text-light-color" style="font-weight: 800;
                            font-size: 50px;
                            line-height: 55px;
                            letter-spacing: 0.01em;">
                                OUR <i class="text-curly text-highlighter-primary">BRAND </i><br>STORY
                                !<br>
                            </h5>
                            <div class="margin-top-48 text-light-color">

                                <p class="text-light-color padding-top-18" style="font-size: 18px;">
                                    Paving+ was founded in 2018 and has since been manufacturing
                                    premium building Materials and providing unique solutions for a
                                    greener construction industry. Our products are designed to reduce the
                                    carbon footprint and harness the potential of waste by building a
                                    circular economy for a greener earth. Every product manufactured
                                    contributes to making the earth cleaner and greener. <br>
                                </p>
                                <p class="margin-top-24 text-light-color" style="font-size: 18px;">
                                    <strong>VISION AND MISSION</strong> <br>
                                    “ We want to solve the problem of plastic waste and use waste to
                                    produce quality products to create a sustainable and greener earth."

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section> <!--  end .section-about-us -->

    <section class="section-content-block3 section-custom-bg" data-bg_img='images/highlight_bg.jpg'
        data-bg_size='initial' data-bg_position='top left' data-bg_color="#FFFFFF" data-bg_opacity="0.8"
        style="padding: 53px 0 39px 0 !important;">

        <div class="container">

            <div class="row section-heading-wrapper">

                <div class="col-md-12 col-sm-12 text-center no-img-separator">
                    <h2>Paving+ Core Values </h2>
                    <span class="heading-separator heading-separator-horizontal"></span>
                    <!-- <h4>Pellentesque habitant morbi tristique senectus netus <br /> et malesa dalas fames acturpi solid
                    egestas ac turpis egestas dsexo.</h4> -->

                </div> <!-- end .col-sm-10  -->

            </div>

            <div class="row">

                <div class=" text-center " style="display: flex; justify-content: space-around; ">

                    <div class="col">
                        <img src="images/1.png" alt="">
                    </div>
                    <div class="col">
                        <img src="images/2.png" alt="">
                    </div>
                    <div class="col">
                        <img src="images/3.png" alt="">
                    </div>
                    <div class="col">
                        <img src="images/4.png" alt="">
                    </div>

                </div>

            </div>

        </div> <!--  end .container  -->

    </section>

    <!--  SECTION CAUSES   -->
    <section class="section-content-block5 section-custom-bg" data-bg_img="images/green_grass_bg.jpg"
        data-bg_size='initial' data-bg_position='right bottom' data-bg_opacity="0">
        <div class="container">
            <div class="row section-heading-wrapper" style="margin-bottom: 1px;">
                <div class="col-md-12 col-sm-12 text-center no-img-separator">
                    <h2>OUR BENEFITS</h2>
                    <span class="heading-separator heading-separator-horizontal"></span>
                    <!-- <h4>Increase in the awareness among people about various issues</h4> -->
                </div> <!-- end .col-sm-10  -->
            </div> <!-- end .row  -->
        </div> <!--  end .container -->
        <div class="container">
            <div class="section-content">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                  <div class="text-center box-shadow11 mb-30 bg-green p-30">
                    
                    <a href="#" class="">
                      <!-- <img src="images/water.png" width="70" alt=""> -->
                      <img src="images/lowcost.png" width="70" alt="">
                    </a>
                    <h4 class="font-weight-600 mt-20  text-white">LOW COST</h4>
                    <p class="text-white"> The utilization of recycled plastic waste in our products results in cost-effective solutions for our customers. <br/> <br/>  <br/> <br/></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                  <div class="text-center box-shadow11 mb-30 bg-green p-30">
                    <a href="#" class="">
                      <!-- <img src="images/lightweight.png" width="70" alt=""> -->
                      <img src="images/ecof.png" width="70" alt="">
                    </a>
                    <h4 class="font-weight-600 mt-20  text-white">ECO-FRIENDLY</h4>
                    <p class="text-white">Our paving products are entirely crafted from recycled waste materials, enabling the reduction of substantial quantities of municipal and industrial waste with minimal residual waste and low carbon emissions. </p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                  <div class="text-center box-shadow11 mb-30 bg-green p-30">
                    <a href="#" class="">
                      <!-- <img src="images/lowcost.png" width="70" alt=""> -->
                      <img src="images/nont.png" width="70" alt="">
                    </a>
                    <h4 class="font-weight-600 mt-20  text-white">NON-TOXIC</h4>
                    <p class="text-white">  Our technology is characterized by its clean and eco-friendly nature, aimed at delivering a healthy and secure working environment and sustainable solutions to our partners and stakeholders.  <br/> <br/></p>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="text-center box-shadow11 mb-30 bg-green p-30">
                      <a href="#" class="">
                        <img src="images/recycle.png" width="70" alt="">
                      </a>
                      <h4 class="font-weight-600 mt-20  text-white">RECYCLABLE</h4>
                      <p class="text-white">  Our paving products are recyclable and can be repurposed into new, reusable products thus minimizing waste from demolition and contributing to a more sustainable future.</p>
                    </div>
                  </div>
                   <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="text-center box-shadow11 mb-30 bg-green p-30">
                      <a href="#" class="">
                        <!-- <img src="images/ecof.png" width="70" alt=""> -->
                        <img src="images/lightweight.png" width="70" alt="">
                      </a>
                      <h4 class="font-weight-600 mt-20  text-white">LIGHTWEIGHT</h4>
                      <p class="text-white"> Paving + are 100% made by recycling the waste material to consume huge amount of municipal and industrial waste with zero residue and low carbon emission.<br> <br>   </p>
                    </div>
                  </div>
                   <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="text-center box-shadow11 mb-30 bg-green p-30">
                      <a href="#" class="">
                        <!-- <img src="images/nont.png" width="70" alt=""> -->
                        <img src="images/water.png" width="70" alt="">
                      </a>
                      <h4 class="font-weight-600 mt-20  text-white">WATERPROOF</h4>
                      <p class="text-white"> The products are designed to be waterproof, incorporating recycled plastic waste materials in their composition.           <br/>         <br/> <br/>  </p>
                    </div>
                  </div>

            </div>
                
                
            </div>
          </div>
    </section> <!-- end .cause-section-1  -->


    <!--   COUNTER SECTION -->
    <section class="section-content-block section-secondary-bg" style="padding: 34px 0 0px 0;">
        <div class="container wow fadeInUp">
            <div class="row" style="    display: flex;
            justify-content: center;">
                <div class="col-sm-12">
                    <div class="row section-heading-wrapper">

                        <div class="col-md-12 col-sm-12 text-left no-img-separator" style="    display: flex;
                        flex-direction: column;
                        align-items: center;">
                            <h2 style="padding-bottom: 20px; font-size: 20px; color: black;">Waste plastic upcycled and recycled: <i style="color: #33B44A; "> <%=counter.value %>Kg </i></h2>
                            <span class="heading-separator heading-separator-horizontal"></span>
                        </div> <!-- end .col-sm-10  -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-content-block section-secondary-bg" style="padding: 0px 0 0px 0;">
        <div class="container wow fadeInUp">
            <div class="row" style="    display: flex;
            justify-content: center;">
                <div class="col-sm-12">
                    <div class="row section-heading-wrapper">

                        <div class="col-md-12 col-sm-12 text-left no-img-separator" style="    display: flex;
                        flex-direction: column;
                        align-items: center;">
                            <h2 style="padding-bottom: 20px;">Achievements</h2>
                            <span class="heading-separator heading-separator-horizontal"></span>
                        </div> <!-- end .col-sm-10  -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-content-block section-secondary-bg" style="padding: 0px 0 34px 0;">
        <div class="container wow fadeInUp">
            <div class="row" style="display: flex; justify-content: center;">
                <div class="row margin-top-24">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counter-block-2 counter-border">
                            <i class="icon fa fa-sun-o text-primary-color"></i>
                            <div class="count-info">
                                <p class="text-capitalize" style="font-size: 17px; font-weight: 600; font-weight: 600;">Winner Naveen Soch ki Khoj Award 2023 at Sanmarg Business Awards
                                    1 Granted Patent
                                    </p>
                            </div>
                        </div>
                    </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counter-block-2 counter-border">
                            <i class="icon fa fa-diamond text-primary-color"></i>
                            <div class="count-info">
                                <p class="text-capitalize" style="font-size: 17px; font-weight: 600;">Runners up at TIECON kolkata 2020</p>
                            </div>
                        </div>
                    </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counter-block-2 counter-border">
                            <i class="icon fa fa-book text-primary-color"></i>
                            <div class="count-info">
                                <p class="text-capitalize" style="font-size: 17px; font-weight: 600;">
                                    12 Research Paper In different International Journal
                                    </p>
                            </div>
                        </div>
                    </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
                </div>
            </div>
            <div class="row" style="display: flex; justify-content: center;">
                <div class="row margin-top-24">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counter-block-2 counter-border">
                            <i class="icon fa fa-university text-primary-color"></i>
                            <div class="count-info">
                                <p class="text-capitalize" style="font-size: 17px; font-weight: 600;">WINNER at Entrepreneurship World Cup India 2019</p>
                            </div>
                        </div>
                    </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counter-block-2 counter-border">
                            <i class="icon fa fa-flag text-primary-color"></i>
                            <div class="count-info">
                                <p class="text-capitalize" style="font-size: 17px; font-weight: 600;">Winner of AAVISKAR 2.0(The tech-Fest-NIT Durgapur) National Institute of Technology Durgapur, Nov 2018 </p>
                            </div>
                        </div>
                    </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counter-block-2 counter-border">
                            <i class="icon fa fa-file-powerpoint-o text-primary-color"></i>
                            <div class="count-info">
                                <p class="text-capitalize" style="font-size: 17px; font-weight: 600;">
                                    Winner Of B-Plan Event Heritage Institute of Technology ,Kolkata Oct 2018</p>
                            </div>
                        </div>
                    </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
                </div>
            </div>
            <div class="row" style="display: flex; justify-content: center;">
                <div class="row margin-top-24">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counter-block-2 counter-border">
                            <i class="icon fa fa-shield text-primary-color"></i>
                            <div class="count-info">
                                <p class="text-capitalize" style="font-size: 17px; font-weight: 600;">Winner of TATA Social Enterprise Challenge Apr 2017</p>
                            </div>
                        </div>
                    </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counter-block-2 counter-border">
                            <i class="icon fa fa-graduation-cap text-primary-color"></i>
                            <div class="count-info">
                                <p class="text-capitalize" style="font-size: 17px; font-weight: 600;">HULT PRIZE 2019 South East Asia Regional Finalist</p>
                            </div>
                        </div>
                    </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counter-block-2 counter-border" style="display: flex; align-items: center;">
                            <i class="icon fa fa-sitemap text-primary-color"></i>
                            <div class="count-info">
                                <p class="text-capitalize" style="font-size: 17px; font-weight: 600;">
                                    1 Granted Patent</p>
                            </div>
                        </div>
                    </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
                </div>
            </div>
        </div>
    </section>


    <!-- SECTION CTA  -->
    <section class="cta-section-2 hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>We have been helping people since 40 years</h2>
                    <p>
                        You can give politics at any of our environment venues all over the world. We have total sixty
                        thousands volunteers centers and visit thousands of other venues on various occasions.
                    </p>
                    <a class="btn btn-theme btn-theme-invert margin-top-12" href="#">BECOME VOLUNTEER</a>
                </div> <!--  end .col-md-8  -->
            </div> <!--  end .row  -->
        </div>
    </section>

    <!--  EVENTS SECTION  -->
    <section class="section-content-block">
        <div class="container wow fadeInUp">
            <div class="row section-heading-wrapper">

                <div class="col-md-12 col-sm-12 text-center no-img-separator">
                    <h2>In association with</h2>
                    <span class="heading-separator heading-separator-horizontal"></span>
                    <!-- <h4>The association who give their valuable amount to fulfill our mission.</h4> -->
                </div> <!-- end .col-sm-10  -->

            </div>
            <div class="row">
                <div class="logo-layout-1 logo-items owl-carousel margin-top-24" data-dots="false">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="client-logo">
                            <img src="images/logo_1.png" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="client-logo">
                            <img src="images/logo_2.png" alt="" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="client-logo">

                            <img src="images/logo_3.png" alt="" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="client-logo">
                            <img src="images/logo_4.png" alt="" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="client-logo">
                            <img src="images/logo_5.png" alt="" />
                        </div>
                    </div>


                </div> <!-- end .logo-items  -->
            </div> <!-- end row  -->
        </div> <!-- end .container  -->
    </section> <!-- end .event-section-1  -->

     <!--  EVENTS SECTION  -->
     <section class="section-content-block7">
        <div class="container wow fadeInUp">
            <div class="row section-heading-wrapper">

                <div class="col-md-12 col-sm-12 text-center no-img-separator">
                    <h2>Our Clientele</h2>
                    <span class="heading-separator heading-separator-horizontal"></span>
                    <!-- <h4>The association who give their valuable amount to fulfill our mission.</h4> -->
                </div> <!-- end .col-sm-10  -->

            </div>
            <div class="row">
                <div class="logo-layout-1 logo-items owl-carousel margin-top-24" data-dots="false">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="client-logo">
                            <img src="images/logo_1.png" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="client-logo">
                            <img src="images/logo_2.png" alt="" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="client-logo">

                            <img src="images/logo_3.png" alt="" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="client-logo">
                            <img src="images/logo_4.png" alt="" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="client-logo">
                            <img src="images/logo_5.png" alt="" />
                        </div>
                    </div>


                </div> <!-- end .logo-items  -->
            </div> <!-- end row  -->
        </div> <!-- end .container  -->
    </section> <!-- end .event-section-1  -->

    <!-- SECTION TESTIMONIAL   -->
    <!-- <section class="section-content-block section-secondary-bg">
        <div class="container">
            <div class="row section-heading-wrapper" style="    margin-bottom: 0px;">
                <div class="col-md-12 col-sm-12 text-center no-img-separator">
                    <h3>Testimonial's</h3>
                    <span class="heading-separator heading-separator-horizontal"></span>
       
                </div> 
            </div>
        </div>

        <div class="container theme-custom-box-shadow section-pure-white-bg margin-top-32"
            style="margin-top: 13px !important">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="wow fadeInLeft testimonial-container owl-carousel text-left" data-items="1" style="    padding: 53px 0px;">
                        <div class="col-md-12 col-sm-12">
                            <div class="testimony-layout-1">
                                <h3 class="people-quote" style="    margin-top: 0px;
                                font-size: 26px">EFC Logistics Private Limited</h3>
                                <p class="testimony-text" style="     line-height: 29px; font-size: 16px;">
                                    We have been utilizing Paving + paver blocks in our warehouse for some time now and have been thoroughly impressed with their performance. Not only are they lightweight and cost-effective, but they have also proven to be durable and long-lasting. The fact that they are made from recycled materials aligns perfectly with our company's commitment to sustainability. We highly recommend Paving + for any organization looking for high-quality, eco-friendly building materials. Thank you for your contributions towards a better future!
                                </p>
                            </div> 
                        </div> 

                        <div class="col-md-12 col-sm-12">
                            <div class="testimony-layout-1">
                                <h3 class="people-quote" style="    margin-top: 0px;
                                font-size: 26px">Calcutta Cricket and Football Club</h3>
                                <p class="testimony-text" style="     line-height: 29px; font-size: 16px;">
                                    We recently used Paving + paver blocks for our club's outdoor patio and the results have exceeded our expectations. The lightweight nature of the blocks made installation a breeze, while their durability and water-resistant properties have provided a long-lasting and low-maintenance solution. It was also great to see that the products are made from recycled materials, aligning with our club's commitment to sustainability. We highly recommend Paving + for anyone looking for top-notch eco-friendly building materials. Keep up the good work!
                                </p>
                                <h6>Guneet Grewal</h6>
                                <span>Vice President</span>
                            </div> 
                        </div> 

                        <div class="col-md-12 col-sm-12">
                            <div class="testimony-layout-1">
                                <h3 class="people-quote" style="    margin-top: 0px;
                                font-size: 26px">Sanei Motors</h3>
                                <p class="testimony-text" style="     line-height: 29px; font-size: 16px;">
                                    As the Director of Sanei Motors, I have been thoroughly impressed with Paving + paver blocks. We have used them in both our showroom and warehouse and have been extremely pleased with their durability and cost-effectiveness. The lightweight design made installation a breeze, and their water-resistant properties have helped maintain a clean and dry environment. Our company values sustainability, and it is great to see that Paving + products are made from recycled materials. I would highly recommend Paving + to any organization seeking top-quality and eco-friendly building materials.
                                </p>
                                <h6>Sumit Jain</h6>
                                <span>Director</span>
                            </div>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-6 hidden-md hidden-xs hidden-sm no-padding">
                    <figure>
                        <img src="images/testimony_feat_img.png" alt="" class="db" />
                    </figure>
                </div>
            </div>
        </div> 
    </section> -->


    <!--  SECTION GALLERY  -->

    <section class="section-content-block no-padding">
        <div class="container-fluid no-padding-gallery">
            <div class="row">
                <div class="no-padding-gallery gallery-carousel owl-carousel" data-items='5' data-dots="false"
                    data-autoplaytimeout="150000">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 gallery-container">
                        <a class="gallery-light-box" data-gall="myGallery" href="images/gallery_1.jpg">
                            <figure class="gallery-img">

                                <img src="images/gallery_1.png" alt="gallery image" />

                            </figure> <!-- end .gallery-img  -->
                        </a>
                    </div><!-- end .col-sm-3  -->
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 gallery-container">

                        <a class="gallery-light-box" data-gall="myGallery" href="images/gallery_2.jpg">
                            <figure class="gallery-img">

                                <img src="images/gallery_2.png" alt="gallery image" />

                            </figure> <!-- end .gallery-img  -->

                        </a> <!-- end .gallery-light-box  -->

                    </div><!-- end .col-sm-3  -->

                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 gallery-container">

                        <a class="gallery-light-box" data-gall="myGallery" href="images/gallery_3.jpg">

                            <figure class="gallery-img">

                                <img src="images/gallery_3.png" alt="gallery image" />

                            </figure> <!-- end .gallery-img  -->

                        </a>

                    </div><!-- end .col-sm-3  -->

                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 gallery-container">

                        <a class="gallery-light-box" data-gall="myGallery" href="images/gallery_4.jpg">

                            <figure class="gallery-img">

                                <img src="images/gallery_4.png" alt="gallery image" />

                            </figure> <!-- end .gallery-img  -->

                        </a> <!-- end .gallery-light-box  -->

                    </div><!-- end .col-sm-3  -->

                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 gallery-container">

                        <a class="gallery-light-box" data-gall="myGallery" href="images/gallery_5.jpg">

                            <figure class="gallery-img">

                                <img src="images/gallery_5.png" alt="gallery image" />

                            </figure> <!-- end .gallery-img  -->

                        </a> <!-- end .gallery-light-box  -->

                    </div><!-- end .col-sm-3  -->

                 

                </div>

            </div> <!-- end .row  -->

        </div><!-- end .container-fluid  -->

    </section> <!-- end .section-content-block  -->

    <!-- START FOOTER  -->

    <footer>
        <section class="section-content-block4 footer-widget-area-bg section-custom-bg"
            data-bg_img="images/footer_bg.jpg" data-bg_opacity="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-widget-area footer-about">
                            <div class="row">
                                <div class="footer-widget-area">
                                    <div class="col-md-4">
                                        <div class="footer-logo">
                                            <img src="images/logo-footer.png" alt="Logo">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="contact-info footer-content">
                                            <p class="text-light-color">“We want to solve the problem of plastic waste
                                                and use waste to
                                                produce quality products to create a sustainable and greener earth."
                                            </p>
                                        </div>
                                    </div>
                                </div> <!-- end .footer-widget-area  -->
                            </div> <!--  end .row  -->
                        </div>
                    </div>
                </div>

                <!-- FOOTER WIDGET AREA -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="footer-widget-area">
                            <h3>Organaization Info</h3>
                            <div class="contact-info divider-line">
                                <div class="contact-heading">Address : </div>
                                <div class="contact-details">
                                    36F Topsia Road , Offbeat CCU , Landmark Building , Room no. 402 , kolkata -700039
                                </div>
                            </div>
                            <div class="contact-info divider-line">
                                <div class="contact-heading">Phone : </div>
                                <div class="contact-details">
                                    +91 88252 17361, +91 93396 93397
                                </div>
                            </div>

                            <div class="contact-info">
                                <div class="contact-heading">Email : </div>
                                <div class="contact-details color-primary">
                                    <a href="mailto:team@paving-plus.com">team@paving-plus.com</a>
                                </div>
                            </div>
                        </div> <!-- end .footer-widget-area  -->
                    </div> <!-- end .col-md-4  -->


                </div> <!-- end .row  -->
            </div> <!-- end .container  -->
        </section> <!--  end .footer-widget-area-bg -->

        <!--FOOTER NAVIGATION  -->

        <section class="footer-section">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-12">
                        <div class="footer-nav">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#">Make Donation</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms & Condition</a>
                                    </li>
                                    <li>
                                        <a href="#">Privacy Policy</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div> <!-- end .col-md-6  -->

                    <div class="col-md-6 col-sm-12">
                        <span class="copyright-text">
                            Copyright &copy; <a class="color-primary" href="https://paving-plus.com/"> Paving +</a>
                            2023. All right Reserved.
                        </span>
                    </div> <!-- end .col-md-6  -->
                </div> <!-- end .row  -->
            </div> <!-- end .container  -->
        </section> <!--  end .footer-area -->
    </footer>



    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.backTop.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/waypoints-sticky.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/venobox.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/custom-scripts.js"></script>



</body>


</html>