<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Ashish">
    <title>Products || Paving +</title>
    <link rel="shortcut icon" href="images/favicon.png" />
    <meta name="title" content=" Paving+ || Building Green Construction Solutions">
    <meta name="description"
        content="Paving+ uses eco-friendly and sustainable technology to create damp-proof and lightweight bricks and paver blocks. Paving + products are entirely composed of recycled plastic trash and industrial waste.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://paving-plus.com/">
    <meta property="og:title" content=" Paving+ || Building Green Construction Solutions">
    <meta property="og:description"
        content="Paving+ uses eco-friendly and sustainable technology to create damp-proof and lightweight bricks and paver blocks. Paving + products are entirely composed of recycled plastic trash and industrial waste.">
    <meta property="og:image" content="./assets/images/meta.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://paving-plus.com/">
    <meta property="twitter:title" content=" Paving+ || Building Green Construction Solutions">
    <meta property="twitter:description"
        content="Paving+ uses eco-friendly and sustainable technology to create damp-proof and lightweight bricks and paver blocks. Paving + products are entirely composed of recycled plastic trash and industrial waste.">
    <meta property="twitter:image" content="./assets/images/meta.png">
    <!-- The styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/animate.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="css/venobox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/styles.css" />

<body>

    <!-- <div id="preloader">
        <span class="margin-bottom"><img src="images/loader.gif" alt="" /></span>
    </div> -->
    <div class="popup" id="popup" style=" display: none;">
        <button id="close">&times;</button>
        <p>Total waste plastic used <br /> 5432 kg </p>
    </div>
   <!--  HEADER -->
   <header class="main-header clearfix">
    <section class="header-wrapper navgiation-wrapper">
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="logo" href="/"><img alt="" src="images/logo.png"></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li><a href="/about-us" title="About Us">About Us</a></li>
                        <li>
                            <a href="/products">Products</a>
                        </li>
                        <li>
                            <a href="/brochure">Brochure</a>
                        </li>
                        <li><a href="/contact-us">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</header> <!-- end main-header  -->

    <!--  PAGE HEADING -->
    <section class="page-header" data-stellar-background-ratio="1.2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3>
                        Our Products
                    </h3>
                    <p class="page-breadcrumb">
                        <a href="/">Home</a> / All Products
                    </p>
                </div>
            </div> <!-- end .row  -->
        </div> <!-- end .container  -->
    </section> <!-- end .page-header  -->

    <!--  MAIN CONTENT  -->

    <!--  SECTION CAMPAIGNS   -->
    <section class="section-content-block">
        <div class="container">
            <div class="row section-heading-wrapper">
                <div class="col-md-12 col-sm-12 text-left no-img-separator">
                    <h2>OUR Products</h2>
                    <span class="heading-separator heading-separator-horizontal"></span>
                    <h4>Join and be a part of our campaigns and make it successful. Your awesome support and fluent
                        participation
                        is necessary for a successful campaign. </h4>
                </div> <!-- end .col-sm-12  -->
            </div> <!-- end .row  -->

            <div class="row margin-top-48">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="#">
                                <img src="images/event_1.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <a class="event-date" href="#"><i class="fa fa-calendar-o"></i> 14 January, 2018</a>
                            <h4>
                                <a href="#">Build Nation Together</a>
                            </h4>
                            <div class="event-exceprt">Lorem ipsum dolor sit amet turadipi scing elit lobort issim
                                consecte dign pharetra mauris.</div>
                            <div class="event-time">
                                <a href="#"><i class="fa fa-clock-o"></i> 10.00 - 3.00</a>
                                <a href="#"> <i class="fa fa-map-marker"></i> California, USA</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="#">
                                <img src="images/event_3.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <a class="event-date" href="#"><i class="fa fa-calendar-o"></i> 14 January, 2018</a>
                            <h4>
                                <a href="#">Stop National Racism</a>
                            </h4>
                            <div class="event-exceprt">Lorem ipsum dolor sit amet turadipi scing elit lobort issim
                                consecte dign pharetra mauris.</div>
                            <div class="event-time">
                                <a href="#"><i class="fa fa-clock-o"></i> 10.00 - 3.00</a>
                                <a href="#"> <i class="fa fa-map-marker"></i> California, USA</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row margin-top-32">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="#">
                                <img src="images/event_4.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <a class="event-date" href="#"><i class="fa fa-calendar-o"></i> 14 January, 2018</a>
                            <h4>
                                <a href="#">Freedom People Voice</a>
                            </h4>
                            <div class="event-exceprt">Lorem ipsum dolor sit amet turadipi scing elit lobort issim
                                consecte dign pharetra mauris.</div>
                            <div class="event-time">
                                <a href="#"><i class="fa fa-clock-o"></i> 10.00 - 3.00</a>
                                <a href="#"> <i class="fa fa-map-marker"></i> California, USA</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="#">
                                <img src="images/event_2.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <a class="event-date" href="#"><i class="fa fa-calendar-o"></i> 14 January, 2018</a>
                            <h4>
                                <a href="#">Ensure Hear & Be Heard</a>
                            </h4>
                            <div class="event-exceprt">Lorem ipsum dolor sit amet turadipi scing elit lobort issim
                                consecte dign pharetra mauris.</div>
                            <div class="event-time">
                                <a href="#"><i class="fa fa-clock-o"></i> 10.00 - 3.00</a>
                                <a href="#"> <i class="fa fa-map-marker"></i> California, USA</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--  end .container  -->
    </section>

    <!-- START FOOTER  -->
    <footer>
        <section class="section-content-block footer-widget-area-bg section-custom-bg"
            data-bg_img="images/footer_bg.jpg" data-bg_opacity="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-widget-area footer-about">
                            <div class="row">
                                <div class="footer-widget-area">
                                    <div class="col-md-4">
                                        <div class="footer-logo">
                                            <img src="images/logo-footer.png" alt="Logo">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="contact-info footer-content">
                                            <p class="text-light-color">Ecosma buddies organization climate change is
                                                about the human soul and our capacity to handle shared difficulties
                                                together. Our target is to build awareness and
                                                helps us to save our planet what we want for our future.
                                            </p>
                                        </div>
                                    </div>
                                </div> <!-- end .footer-widget-area  -->
                            </div> <!--  end .row  -->
                        </div>
                    </div>
                </div>

                <!-- FOOTER WIDGET AREA -->
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="footer-widget-area">
                            <h3>Organaization Info</h3>
                            <div class="contact-info divider-line">
                                <div class="contact-heading">Address : </div>
                                <div class="contact-details">
                                    965 East Avenu, Sector 9 Russel Squire, EB461 UK
                                </div>
                            </div>
                            <div class="contact-info divider-line">
                                <div class="contact-heading">Phone : </div>
                                <div class="contact-details">
                                    +91 88252 17361 , (+1)755-065-1252
                                </div>
                            </div>

                            <div class="contact-info">
                                <div class="contact-heading">Email : </div>
                                <div class="contact-details color-primary">
                                    <a href="mailto:support@paving-plus.com">support@paving-plus.com</a>
                                </div>
                            </div>
                        </div> <!-- end .footer-widget-area  -->
                    </div> <!-- end .col-md-4  -->

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="footer-widget-area newsletter-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>Newsletter</h3>
                                    <p class="text-light-color">Signup for regular newsletter and stay upto date with
                                        our latest news and updates</p>
                                </div>

                                <div class="col-sm-12">
                                    <form id="mc-form" class="mc-form fix" action="/send-newsletter" method="post">
                                        <div class="newsletter-form">
                                            <input id="mc-email" name="gmail" placeholder="Email Address..."
                                                type="email">
                                            <button id="mc-submit" type="submit">
                                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </form>
                                    <div class="mailchimp-alerts text-centre fix">
                                        <div class="mailchimp-submitting"></div>
                                        <div class="mailchimp-success"></div>
                                        <div class="mailchimp-error"></div>
                                    </div>
                                </div> <!-- end .col-sm-12  -->
                            </div> <!-- row  -->
                        </div> <!-- end .footer-widget-area  -->
                    </div> <!-- end .col-md-6  -->
                </div> <!-- end .row  -->
            </div> <!-- end .container  -->
        </section> <!--  end .footer-widget-area-bg -->

        <!--FOOTER NAVIGATION  -->

        <section class="footer-section">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-12">
                        <div class="footer-nav">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#">Make Donation</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms & Condition</a>
                                    </li>
                                    <li>
                                        <a href="#">Privacy Policy</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div> <!-- end .col-md-6  -->

                    <div class="col-md-6 col-sm-12">
                        <span class="copyright-text">
                            Copyright &copy; <a class="color-primary" href="https://paving-plus.com/"> Paving +</a>
                            2023. All right Reserved.
                        </span>
                    </div> <!-- end .col-md-6  -->
                </div> <!-- end .row  -->
            </div> <!-- end .container  -->
        </section> <!--  end .footer-area -->
    </footer>

    <!--  END OF FOOTER -->


    <!-- Back To Top Button  -->



    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.backTop.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/waypoints-sticky.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/venobox.min.js"></script>
    <script src="js/custom-scripts.js"></script>
</body>

</html>