<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Ashish">
    <title>Products || Paving +</title>
    <link rel="shortcut icon" href="images/favicon.png" />
    <meta name="title" content=" Paving+ || Building Green Construction Solutions">
    <meta name="description"
        content="Paving+ uses eco-friendly and sustainable technology to create damp-proof and lightweight bricks and paver blocks. Paving + products are entirely composed of recycled plastic trash and industrial waste.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://paving-plus.com/">
    <meta property="og:title" content=" Paving+ || Building Green Construction Solutions">
    <meta property="og:description"
        content="Paving+ uses eco-friendly and sustainable technology to create damp-proof and lightweight bricks and paver blocks. Paving + products are entirely composed of recycled plastic trash and industrial waste.">
    <meta property="og:image" content="./assets/images/meta.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://paving-plus.com/">
    <meta property="twitter:title" content=" Paving+ || Building Green Construction Solutions">
    <meta property="twitter:description"
        content="Paving+ uses eco-friendly and sustainable technology to create damp-proof and lightweight bricks and paver blocks. Paving + products are entirely composed of recycled plastic trash and industrial waste.">
    <meta property="twitter:image" content="./assets/images/meta.png">
    <!-- The styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/animate.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="css/venobox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/styles.css" />

<body>
    <!-- <div id="preloader">
        <span class="margin-bottom"><img src="images/loader.gif" alt="" /></span>
    </div> -->
    <div class="popup" id="popup" style=" display: none;">
        <button id="close">&times;</button>
        <p>Total waste plastic used <br /> 5432 kg </p>
    </div>
    <!--  HEADER -->
    <header class="main-header clearfix">
        <section class="header-wrapper navgiation-wrapper">
            <div class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo" href="/"><img alt="" src="images/logo.png"></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li><a href="/about-us" title="About Us">About Us</a></li>
                            <li>
                                <a href="/products">Products</a>
                            </li>
                            <li>
                                <a href="/brochure">Brochure</a>
                            </li>
                            <li><a href="/contact-us">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </header> <!-- end main-header  -->

    <!--  PAGE HEADING -->
    <section class="page-header" data-stellar-background-ratio="1.2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3>
                        Our Products
                    </h3>
                    <p class="page-breadcrumb">
                        <a href="/">Home</a> / All Products
                    </p>
                </div>
            </div> <!-- end .row  -->
        </div> <!-- end .container  -->
    </section> <!-- end .page-header  -->

    <!--  SECTION CAMPAIGNS   -->
    <section class="section-content-block">
        <div class="container">
            <div class="row section-heading-wrapper">
                <div class="col-md-12 col-sm-12 text-left no-img-separator">
                    <h2>ECO-PAVER SERIES</h2>
                    <span class="heading-separator heading-separator-horizontal"></span>
                    <h4>THE MATERIALS ARE MADE FROM UNSEGREGATED PLASTIC WASTE
                        WITH A WASTE COMPOSITION OF 30% </h4>
                </div> <!-- end .col-sm-12  -->
            </div>

            <diV style="display: flex; justify-content: center; align-items: center; flex-direction: column;  margin-top: 1.5%;">
                <h5 style=" margin: 0 0 0 0;"> PAVER BLOCK 60 MM</h5>
                <hr style="width:50%; margin-top: 0; 
                 margin-bottom: 0; border-top: 2px solid #90df3b; ">
            </diV>
            <div class="row margin-top-48">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/1.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"> <strong>CROWN</strong><br/>
                                <strong>Dimension: </strong>
                                250x250mm <br />
                                <strong>Area: </strong>
                                0.69 sqft<br />
                                <strong>Thickness: </strong>
                                60mm<br />
                                <strong>Coverage per sqft: </strong>
                                1.44 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/2.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>CROWN</strong><br/>
                                <strong>Dimension: </strong>
                                250x250mm <br />
                                <strong>Area: </strong>
                                0.69 sqft<br />
                                <strong>Thickness: </strong>
                                60mm<br />
                                <strong>Coverage per sqft: </strong>
                                1.44 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-32">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/3.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>COSMIC</strong><br/>
                                <strong>Dimension: </strong>
                                280x135mm <br />
                                <strong>Area: </strong>
                                0.54 sqft<br />
                                <strong>Thickness: </strong>
                                60mm<br />
                                <strong>Coverage per sqft: </strong>
                                1.85 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/4.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>COSMIC</strong><br/>
                                <strong>Dimension: </strong>
                                280x135mm <br />
                                <strong>Area: </strong>
                                0.54 sqft<br />
                                <strong>Thickness: </strong>
                                60mm<br />
                                <strong>Coverage per sqft: </strong>
                                1.85 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  end .container  -->
            <diV style="display: flex; justify-content: center; align-items: center; flex-direction: column;  margin-top: 1.5%;">
                <h5 style=" margin: 0 0 0 0;"> BRICK ANTI SKID </h5>
                <hr style="width:50%; margin-top: 0; 
                 margin-bottom: 0; border-top: 2px solid #90df3b; ">
            </diV>
            <div class="row margin-top-48">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/5.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt">
                                <strong>Dimension: </strong>
                                200X200mm <br />
                                <strong>Area: </strong>
                                0.44 sqft<br />
                                <strong>Thickness: </strong>
                                60mm<br />
                                <strong>Coverage per sqft: </strong>
                                2.25 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/6.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>Dimension: </strong>
                                200x100mm <br />
                                <strong>Area: </strong>
                                0.22 sqft<br />
                                <strong>Thickness: </strong>
                                60mm<br />
                                <strong>Coverage per sqft: </strong>
                                4.50 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-32">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/7.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>Dimension: </strong>
                                100x100mm <br />
                                <strong>Area: </strong>
                                0.11 sqft<br />
                                <strong>Thickness: </strong>
                                60mm<br />
                                <strong>Coverage per sqft: </strong>
                                9 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/8.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>Dimension: </strong>
                                300x200mm <br />
                                <strong>Area: </strong>
                                0.66 sqft<br />
                                <strong>Thickness: </strong>
                                60mm<br />
                                <strong>Coverage per sqft: </strong>
                                1.5 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  end .container  -->
            <diV style="display: flex; justify-content: center; align-items: center; flex-direction: column;  margin-top: 1.5%;">
                <h5 style=" margin: 0 0 0 0;"> PAVER BLOCK 80 MM </h5>
                <hr style="width:50%; margin-top: 0; 
                 margin-bottom: 0; border-top: 2px solid #90df3b; ">
            </diV>
            <div class="row margin-top-48">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/9.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>UNI PAVER</strong><br/>
                                <strong>Dimension: </strong>
                                125X225mm <br />
                                <strong>Area: </strong>
                                0.347 sqft<br />
                                <strong>Thickness: </strong>
                                80mm<br />
                                <strong>Coverage per sqft: </strong>
                                2.88 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/10.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>STAR</strong><br/>
                                <strong>Dimension: </strong>
                                200x200 mm <br />
                                <strong>Area: </strong>
                                0.44 sqft<br />
                                <strong>Thickness: </strong>
                                80 mm<br />
                                <strong>Coverage per sqft: </strong>
                                2.25 Pcs
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  end .container  -->
            <diV style="display: flex; justify-content: center; align-items: center; flex-direction: column;  margin-top: 1.5%;">
                <h5 style=" margin: 0 0 0 0;"> GRASS PAVER </h5>
                <hr style="width:50%; margin-top: 0; 
                 margin-bottom: 0; border-top: 2px solid #90df3b; ">
            </diV>
            <div class="row margin-top-48">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/11.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt">
                                <strong>GRASS PAVER</strong><br/>
                                <strong>Dimension: </strong>
                                300x300 mm <br />
                                <strong>Area: </strong>
                                1 sqft<br />
                                <strong>Thickness: </strong>
                                60 mm<br />
                                <strong>Coverage per sqft: </strong>
                                1 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/12.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt">
                                <strong>BIG GRASS PAVER</strong><br />
                                <strong>Dimension: </strong>
                                400x400 mm <br />
                                <strong>Area: </strong>
                                1.77 sqft<br />
                                <strong>Thickness: </strong>
                                80 mm<br />
                                <strong>Coverage per sqft: </strong>
                                0.56 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-48">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/13.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt">
                                <strong>NEW GRASS PAVER</strong><br />
                                <strong>Dimension: </strong>
                                575x375 mm <br />
                                <strong>Area: </strong>
                                2.4 sqft<br />
                                <strong>Thickness: </strong>
                                70 mm<br />
                                <strong>Coverage per sqft: </strong>
                                0.41 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>





            <diV style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                <h5 style=" margin: 0 0 0 0; text-align: center;  margin-top: 1.5%;"> FLOOR TILES <br /> ( DIAMOND SERIES )</h5>
                <hr style="width:50%; margin-top: 0; 
     margin-bottom: 0; border-top: 2px solid #90df3b; ">
            </diV>
            <div class="row margin-top-48">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/366.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>CROSS LINER</strong><br />
                                <strong>Dimension: </strong>
                                370x370 mm <br />
                                <strong>Area: </strong>
                                1.52 sqft<br />
                                <strong>Thickness: </strong>
                                30 mm<br />
                                <strong>Coverage per sqft: </strong>
                                0.65 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/365.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>CARPET</strong><br />
                                <strong>Dimension: </strong>
                                300x300 mm <br />
                                <strong>Area: </strong>
                                1.00 sqft<br />
                                <strong>Thickness: </strong>
                                25 mm<br />
                                <strong>Coverage per sqft: </strong>
                                1 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-32">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/35.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>LINER</strong><br />
                                <strong>Dimension: </strong>
                                300x300 mm <br />
                                <strong>Area: </strong>
                                1 sqft<br />
                                <strong>Thickness: </strong>
                                25 mm<br />
                                <strong>Coverage per sqft: </strong>
                                1 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/36.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>36 SQUARE</strong><br />
                                <strong>Dimension: </strong>
                                300x300 mm <br />
                                <strong>Area: </strong>
                                1 sqft<br />
                                <strong>Thickness: </strong>
                                30 mm<br />
                                <strong>Coverage per sqft: </strong>
                                1 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-32">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/37.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>DIRECTIONAL</strong><br />
                                <strong>Dimension: </strong>
                                300x300 mm <br />
                                <strong>Area: </strong>
                                1 sqft<br />
                                <strong>Thickness: </strong>
                                25 mm<br />
                                <strong>Coverage per sqft: </strong>
                                1 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/38.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>STAR</strong><br />
                                <strong>Dimension: </strong>
                                300x300 mm <br />
                                <strong>Area: </strong>
                                1 sqft<br />
                                <strong>Thickness: </strong>
                                25 mm<br />
                                <strong>Coverage per sqft: </strong>
                                1 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <diV style="display: flex; justify-content: center; align-items: center; flex-direction: column;  margin-top: 1.5%;">
                <h5 style=" margin: 0 0 0 0; text-align: center;"> FLOOR TILES <br /> ( SILVER SERIES )</h5>
                <hr style="width:50%; margin-top: 0; 
     margin-bottom: 0; border-top: 2px solid #90df3b; ">
            </diV>
            <div class="row margin-top-48">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/20.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>SCORPIO</strong><br />
                                <strong>Dimension: </strong>
                                395x290 mm <br />
                                <strong>Area: </strong>
                                1.12 sqft<br />
                                <strong>Thickness: </strong>
                                32 mm<br />
                                <strong>Coverage per sqft: </strong>
                                0.89 Pc.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/21.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>CADBURY</strong><br />
                                <strong>Dimension: </strong>
                                300x300 mm <br />
                                <strong>Area: </strong>
                                1.00 sqft<br />
                                <strong>Thickness: </strong>
                                25 mm<br />
                                <strong>Coverage per sqft: </strong>
                                1 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-32">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/22.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>LAHER</strong><br />
                                <strong>Dimension: </strong>
                                250x250 mm <br />
                                <strong>Area: </strong>
                                0.69 sqft<br />
                                <strong>Thickness: </strong>
                                22 mm<br />
                                <strong>Coverage per sqft: </strong>
                                1.44 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/23.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>100 DOT</strong><br />
                                <strong>Dimension: </strong>
                                250x250 mm <br />
                                <strong>Area: </strong>
                                0.69 sqft<br />
                                <strong>Thickness: </strong>
                                22 mm<br />
                                <strong>Coverage per sqft: </strong>
                                1.444 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-32">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/24.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>CAPSULE STEP</strong><br />
                                <strong>Dimension: </strong>
                                605x280 mm<br />605x175 mm <br />
                                <strong>Area: </strong>
                                2 sqft, 1 sqft<br />
                                <strong>Thickness: </strong>
                                25 mm<br />
                                <strong>Coverage per sqft: </strong>
                                0.5 Pcs, 1 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/25.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>SMALL CAPSULE STEP</strong><br />
                                <strong>Dimension: </strong>
                                300x300 mm <br />150x150 mm <br />
                                <strong>Area: </strong>
                                1 sqft, 0.5 sqft<br />
                                <strong>Thickness: </strong>
                                25 mm<br />
                                <strong>Coverage per sqft: </strong>
                                1 Pc, 2 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <diV
                style="display: flex; justify-content: center; align-items: center; flex-direction: column;  margin-top: 1.5%;">
                <h5 style=" margin: 0 0 0 0; text-align: center;"> STONE SERIES </h5>
                <hr style="width:50%; margin-top: 0; 
     margin-bottom: 0; border-top: 2px solid #90df3b; ">
            </diV>
            <div class="row margin-top-48">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/26.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>BIG ARCH</strong><br />
                                <strong>Dimension: </strong>
                                390x190 mm<br />330x165 mm <br />
                                <strong>Area: </strong>
                                0.50 sqft., 0.36 sqft.<br />
                                <strong>Thickness: </strong>
                                60 mm<br />
                                <strong>Coverage per sqft: </strong>
                                2 Pcs, 2.75 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/27.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>SMALL ARCH</strong><br />
                                <strong>Dimension: </strong>
                                390x190 mm<br />330x165 mm <br />
                                <strong>Area: </strong>
                                0.50 sqft., 0.36 sqft.<br />
                                <strong>Thickness: </strong>
                                60 mm<br />
                                <strong>Coverage per sqft: </strong>
                                2 Pcs, 2.75 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-48">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/28.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>COBBLE STONE</strong><br />
                                <strong>Dimension: </strong>
                                112.5X112.5 mm <br />
                                <strong>Area: </strong>
                                0.14 sqft<br />
                                <strong>Thickness: </strong>
                                60 mm<br />
                                <strong>Coverage per sqft: </strong>
                                7 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>







            <diV
                style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: 1.5%;">
                <h5 style=" margin: 0 0 0 0; text-align: center;"> CONCRETE PRODUCTS </h5>
                <hr style="width:50%; margin-top: 0; 
     margin-bottom: 0; border-top: 2px solid #90df3b; ">
            </diV>
            <div class="row margin-top-48">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/29.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>KERB STONE</strong><br />
                                <strong>Dimension: </strong>
                                450x300 mm <br />
                                <strong>Area: </strong>
                                1.45 sqft<br />
                                <strong>Thickness: </strong>
                                100 mm<br />
                                <strong>Coverage per sqft: </strong>
                                1 Pcs
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/30.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>KERB STONE</strong><br />
                                <strong>Dimension: </strong>
                                300x300 mm <br />
                                <strong>Area: </strong>
                                1 sqft<br />
                                <strong>Thickness: </strong>
                                100 mm & 150 mm<br />
                                <strong>Coverage per sqft: </strong>
                                1 Pc.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-48">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/31.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>KERB STONE</strong><br />
                                <strong>Dimension: </strong>
                                600x300 mm <br />
                                <strong>Area: </strong>
                                2 sqft<br />
                                <strong>Thickness: </strong>
                                100 mm<br />
                                <strong>Coverage per sqft: </strong>
                                0.50 Pcs.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/32.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>SAUCER DRAIN</strong><br />
                                <strong>Dimension: </strong>
                                300x300 mm <br />
                                <strong>Area: </strong>
                                1 sqft<br />
                                <strong>Thickness: </strong>
                                80 mm<br />
                                <strong>Coverage per sqft: </strong>
                                1 Pc.
                            </div>
                            <div class="event-time" style="display: flex; align-items: center;">
                                <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-48">
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/33.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>SPEED BRAKER</strong><br />
                                <strong>Dimension: </strong>
                                350x350 mm <br />
                                <strong>Thickness: </strong>
                                100 mm<br />
                                <div class="event-time" style="display: flex; align-items: center;">
                                    <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="event-layout-1 theme-custom-box-shadow clearfix">
                        <figure class="event-img">
                            <a href="/contact-us">
                                <img src="images/product/34.jpg" alt="">
                            </a>
                        </figure>
                        <div class="event-info">
                            <div class="event-exceprt"><strong>DRAIN COVER</strong><br />
                                <strong>Dimension: </strong>
                                18 x 24 <br />
                                <strong>Thickness: </strong>
                                50 mm<br />
                                <div class="event-time" style="display: flex; align-items: center;">
                                    <a href="/contact-us"><i class="fa fa-envelope"></i> Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  end .container  -->



            <!-- end .row  -->

    </section>

  <!-- START FOOTER  -->
  <footer>
    <section class="section-content-block4 footer-widget-area-bg section-custom-bg"
        data-bg_img="images/footer_bg.jpg" data-bg_opacity="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-widget-area footer-about">
                        <div class="row">
                            <div class="footer-widget-area">
                                <div class="col-md-4">
                                    <div class="footer-logo">
                                        <img src="images/logo-footer.png" alt="Logo">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="contact-info footer-content">
                                        <p class="text-light-color">We want to solve the problem of plastic
                                            waste<br />
                                            and use waste to produce quality products <br />to create a sustainable
                                            and greener earth."
                                        </p>
                                    </div>
                                </div>
                            </div> <!-- end .footer-widget-area  -->
                        </div> <!--  end .row  -->
                    </div>
                </div>
            </div>

            <!-- FOOTER WIDGET AREA -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-widget-area">
                        <h3>Organaization Info</h3>
                        <div class="contact-info divider-line">
                            <div class="contact-heading">Address : </div>
                            <div class="contact-details">
                                36F Topsia Road , Offbeat CCU , Landmark Building , Room no. 402 ,kolkata-700039
                            </div>
                        </div>
                        <div class="contact-info divider-line">
                            <div class="contact-heading">Phone : </div>
                            <div class="contact-details">
                                +91 88252 17361, +919339693397
                            </div>
                        </div>

                        <div class="contact-info">
                            <div class="contact-heading">Email : </div>
                            <div class="contact-details color-primary">
                                <a href="mailto:team@paving-plus.com">team@paving-plus.com</a>
                            </div>
                        </div>
                    </div> <!-- end .footer-widget-area  -->
                </div> <!-- end .col-md-4  -->


            </div> <!-- end .row  -->
        </div> <!-- end .container  -->
    </section> <!--  end .footer-widget-area-bg -->

    <!--FOOTER NAVIGATION  -->

    <section class="footer-section">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="footer-nav">
                        <nav>
                            <ul>
                                <li>
                                    <a href="/terms-condition">Terms & Condition</a>
                                </li>
                                <li>
                                    <a href="/privacy-policy">Privacy Policy</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div> <!-- end .col-md-6  -->

                <div class="col-md-6 col-sm-12">
                    <span class="copyright-text">
                        Copyright &copy; <a class="color-primary" href="https://paving-plus.com/"> Paving +</a>
                        2023. All right Reserved.
                    </span>
                </div> <!-- end .col-md-6  -->
            </div> <!-- end .row  -->
        </div> <!-- end .container  -->
    </section> <!--  end .footer-area -->
</footer>
    <!--  END OF FOOTER -->

    <!-- Back To Top Button  -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.backTop.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/waypoints-sticky.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/venobox.min.js"></script>
    <script src="js/custom-scripts.js"></script>
</body>

</html>