<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Ashish">
    <title>About-us || Paving +</title>
    <link rel="shortcut icon" href="images/favicon.png" />
    <meta name="title" content=" Paving+ || Building Green Construction Solutions">
    <meta name="description"
        content="Paving+ uses eco-friendly and sustainable technology to create damp-proof and lightweight bricks and paver blocks. Paving + products are entirely composed of recycled plastic trash and industrial waste.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://paving-plus.com/">
    <meta property="og:title" content=" Paving+ || Building Green Construction Solutions">
    <meta property="og:description"
        content="Paving+ uses eco-friendly and sustainable technology to create damp-proof and lightweight bricks and paver blocks. Paving + products are entirely composed of recycled plastic trash and industrial waste.">
    <meta property="og:image" content="./assets/images/meta.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://paving-plus.com/">
    <meta property="twitter:title" content=" Paving+ || Building Green Construction Solutions">
    <meta property="twitter:description"
        content="Paving+ uses eco-friendly and sustainable technology to create damp-proof and lightweight bricks and paver blocks. Paving + products are entirely composed of recycled plastic trash and industrial waste.">
    <meta property="twitter:image" content="./assets/images/meta.png">

    <!-- The styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/animate.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="css/venobox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/styles.css" />

<body>

    <!-- <div id="preloader">
        <span class="margin-bottom"><img src="images/loader.gif" alt="" /></span>
    </div> -->

    <!--  HEADER -->
    <header class="main-header clearfix">


        <section class="header-wrapper navgiation-wrapper">
            <div class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo" href="/"><img alt="" src="images/logo.png"></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li><a href="/about-us" title="About Us">About Us</a></li>
                            <li>
                                <a href="/products">Products</a>
                            </li>
                            <li>
                                <a href="/brochure">Brochure</a>
                            </li>
                            <li><a href="/contact-us">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </header> <!-- end main-header  -->

    <!--  PAGE HEADING -->

    <section class="page-header">

        <div class="container">

            <div class="row">

                <div class="col-sm-12 text-center">

                    <h3>
                        Terms and Conditions
                    </h3>

                    <p class="page-breadcrumb">
                        <a href="/">Home</a> / Terms and Conditions
                    </p>


                </div>

            </div> <!-- end .row  -->

        </div> <!-- end .container  -->

    </section> <!-- end .page-header  -->

    <!--  SECTION MISSION   -->


    <section class="section-content-block2 section-custom-bg" data-bg_img='images/highlight_bg.jpg'
        data-bg_size='initial' data-bg_position='top left' data-bg_color="#FFFFFF" data-bg_opacity="0.8"
        style="padding-bottom: 20px !important;">

        <div class="container">
            <h3>Terms and Conditions </h3> 
            <h4> Welcome to Paving+- Building Green Solutions!</h4>

            <p>hese terms and conditions outline the rules and regulations for the use of Paving+- Building Green
            Solutions's Website, located at https://www.paving-plus.com/ </p>

             <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use Paving+-
            Building Green Solutions if you do not agree to take all of the terms and conditions stated on this page.</p>

             <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and
            all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to
            the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company.
            "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer,
            acceptance and consideration of payment necessary to undertake the process of our assistance to the Client
            in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision
            of the Company’s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use
            of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are
            taken as interchangeable and therefore as referring to same.</p>

             <p><strong>Cookies</strong><br/>
            We employ the use of cookies. By accessing Paving+- Building Green Solutions, you agreed to use cookies in
            agreement with the Paving+- Building Green Solutions's Privacy Policy.</p>

             <p>Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used
            by our website to enable the functionality of certain areas to make it easier for people visiting our
            website. Some of our affiliate/advertising partners may also use cookies.</p>

             <p><strong>License</strong><br/>
            Unless otherwise stated, Paving+- Building Green Solutions and/or its licensors own the intellectual
            property rights for all material on Paving+- Building Green Solutions. All intellectual property rights are
            reserved. You may access this from Paving+- Building Green Solutions for your own personal use subjected to
            restrictions set in these terms and conditions.</p>

             <p><strong>You must not:</strong><br/>

            Republish material from Paving+- Building Green Solutions
            Sell, rent or sub-license material from Paving+- Building Green Solutions
            Reproduce, duplicate or copy material from Paving+- Building Green Solutions
            Redistribute content from Paving+- Building Green Solutions
            This Agreement shall begin on the date hereof. Our Terms and Conditions were created with the help of the
            Free Terms and Conditions Generator.</p>

             <p>Parts of this website offer an opportunity for users to post and exchange opinions and information in
            certain areas of the website. Paving+- Building Green Solutions does not filter, edit, publish or review
            Comments prior to their presence on the website. Comments do not reflect the views and opinions of Paving+-
            Building Green Solutions,its agents and/or affiliates. Comments reflect the views and opinions of the person
            who post their views and opinions. To the extent permitted by applicable laws, Paving+- Building Green
            Solutions shall not be liable for the Comments or for any liability, damages or expenses caused and/or
            suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</p>

             <p>Paving+- Building Green Solutions reserves the right to monitor all Comments and to remove any Comments
            which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>

             <p><strong>You warrant and represent that:</strong><br/>

             <p>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;
            The Comments do not invade any intellectual property right, including without limitation copyright, patent
            or trademark of any third party;</p>
             <p>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material
            which is an invasion of privacy</p>
             <p>The Comments will not be used to solicit or promote business or custom or present commercial activities or
            unlawful activity.</p>
             <p>You hereby grant Paving+- Building Green Solutions a non-exclusive license to use, reproduce, edit and
            authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>

            <p> <strong>Hyperlinking to our Content</strong><br/>
            The following organizations may link to our Website without prior written approval:<br/>
            Government agencies;<br/>
            Search engines;<br/>
            News organizations;<br/>
            Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites
            of other listed businesses; and<br/>
            System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and
            charity fundraising groups which may not hyperlink to our Web site.
            These organizations may link to our home page, to publications or to other Website information so long as
            the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval
            of the linking party and its products and/or services; and (c) fits within the context of the linking
            party’s site.</p>

            <p><strong> We may consider and approve other link requests from the following types of organizations:<br/></strong><br/>

            commonly-known consumer and/or business information sources;<br/>
            dot.com community sites;<br/>
            associations or other groups representing charities;<br/>
            online directory distributors;<br/>
            internet portals;<br/>
            accounting, law and consulting firms; and<br/>
            educational institutions and trade associations.<br/>
            We will approve link requests from these organizations if we decide that: (a) the link would not make us
            look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any
            negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence
            of Paving+- Building Green Solutions; and (d) the link is in the context of general resource information.</p>

            <p> These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does
            not falsely imply sponsorship, endorsement or approval of the linking party and its products or services;
            and (c) fits within the context of the linking party’s site.</p>

            <p> If you are one of the organizations listed in paragraph 2 above and are interested in linking to our
            website, you must inform us by sending an e-mail to Paving+- Building Green Solutions. Please include your
            name, your organization name, contact information as well as the URL of your site, a list of any URLs from
            which you intend to link to our Website, and a list of the URLs on our site to which you would like to link.
            Wait 2-3 weeks for a response.</p>

            <p> <strong>Approved organizations may hyperlink to our Website as follows:</strong><br/>

            By use of our corporate name; or<br/>
            By use of the uniform resource locator being linked to; or<br/>
            By use of any other description of our Website being linked to that makes sense within the context and
            format of content on the linking party’s site.<br/>
            No use of Paving+- Building Green Solutions's logo or other artwork will be allowed for linking absent a
            trademark license agreement.</p>

            <p><strong> iFrames</strong><br/>
            Without prior approval and written permission, you may not create frames around our Webpages that alter in
            any way the visual presentation or appearance of our Website.</p>

            <p> <strong>Content Liability</strong><br/>
            We shall not be hold responsible for any content that appears on your Website. You agree to protect and
            defend us against all claims that is rising on your Website. No link(s) should appear on any Website that
            may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates
            the infringement or other violation of, any third party rights.</p>

             <p><strong>Your Privacy</strong><br/>
            Please read Privacy Policy

            <strong>Reservation of Rights</strong><br/>
            We reserve the right to request that you remove all links or any particular link to our Website. You approve
            to immediately remove all links to our Website upon request. We also reserve the right to amen these terms
            and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be
            bound to and follow these linking terms and conditions.</p>

            <p> <strong>Removal of links from our website</strong><br/>
            If you find any link on our Website that is offensive for any reason, you are free to contact and inform us
            any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you
            directly.</p>

            <p> We do not ensure that the information on this website is correct, we do not warrant its completeness or
            accuracy; nor do we promise to ensure that the website remains available or that the material on the website
            is kept up to date.</p>

             <p><strong>Disclaimer</strong><br/>
            To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions
            relating to our website and the use of this website. Nothing in this disclaimer will: <br/></p>

             <p>limit or exclude our or your liability for death or personal injury;<br/>
            limit or exclude our or your liability for fraud or fraudulent misrepresentation;<br/>
            limit any of our or your liabilities in any way that is not permitted under applicable law; or
            exclude any of our or your liabilities that may not be excluded under applicable law.<br/>
            The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer:<br/> (a) are
            subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including
            liabilities arising in contract, in tort and for breach of statutory duty.</p>

            <p> As long as the website and the information and services on the website are provided free of charge, we will
            not be liable for any loss or damage of any nature.</p>
        </div> <!--  end .container  -->

    </section>


    <!-- START FOOTER  -->
    <footer>
        <section class="section-content-block4 footer-widget-area-bg section-custom-bg"
            data-bg_img="images/footer_bg.jpg" data-bg_opacity="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-widget-area footer-about">
                            <div class="row">
                                <div class="footer-widget-area">
                                    <div class="col-md-4">
                                        <div class="footer-logo">
                                            <img src="images/logo-footer.png" alt="Logo">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="contact-info footer-content">
                                            <p class="text-light-color">“We want to solve the problem of plastic
                                                waste<br />
                                                and use waste to produce quality products <br />to create a sustainable
                                                and greener earth."
                                            </p>
                                        </div>
                                    </div>
                                </div> <!-- end .footer-widget-area  -->
                            </div> <!--  end .row  -->
                        </div>
                    </div>
                </div>

                <!-- FOOTER WIDGET AREA -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="footer-widget-area">
                            <h3>Organaization Info</h3>
                            <div class="contact-info divider-line">
                                <div class="contact-heading">Address : </div>
                                <div class="contact-details">
                                    36F Topsia Road , Offbeat CCU , Landmark Building , Room no. 402 , kolkata -700039
                                </div>
                            </div>
                            <div class="contact-info divider-line">
                                <div class="contact-heading">Phone : </div>
                                <div class="contact-details">
                                    +91 88252 17361, +91 93396 93397
                                </div>
                            </div>

                            <div class="contact-info">
                                <div class="contact-heading">Email : </div>
                                <div class="contact-details color-primary">
                                    <a href="mailto:team@paving-plus.com">team@paving-plus.com</a>
                                </div>
                            </div>
                        </div> <!-- end .footer-widget-area  -->
                    </div> <!-- end .col-md-4  -->


                </div> <!-- end .row  -->
            </div> <!-- end .container  -->
        </section> <!--  end .footer-widget-area-bg -->

        <!--FOOTER NAVIGATION  -->

        <section class="footer-section">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-12">
                        <div class="footer-nav">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="/terms-condition">Terms & Condition</a>
                                    </li>
                                    <li>
                                        <a href="/privacy-policy">Privacy Policy</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div> <!-- end .col-md-6  -->

                    <div class="col-md-6 col-sm-12">
                        <span class="copyright-text">
                            Copyright &copy; <a class="color-primary" href="https://paving-plus.com/"> Paving +</a>
                            2023. All right Reserved.
                        </span>
                    </div> <!-- end .col-md-6  -->
                </div> <!-- end .row  -->
            </div> <!-- end .container  -->
        </section> <!--  end .footer-area -->
    </footer>

    <!--  END OF FOOTER -->



    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.backTop.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/waypoints-sticky.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/venobox.min.js"></script>
    <script src="js/custom-scripts.js"></script>
</body>

</html>